<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Business-Case" data-toc-modified-id="Business-Case-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Business Case</a></span></li><li><span><a href="#Strategy" data-toc-modified-id="Strategy-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Strategy</a></span></li><li><span><a href="#Obtain-[data]" data-toc-modified-id="Obtain-[data]-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Obtain [data]</a></span><ul class="toc-item"><li><span><a href="#Column-Names-and-descriptions-for-Kings-County-Data-Set" data-toc-modified-id="Column-Names-and-descriptions-for-Kings-County-Data-Set-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Column Names and descriptions for Kings County Data Set</a></span></li></ul></li><li><span><a href="#Scrub" data-toc-modified-id="Scrub-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Scrub</a></span><ul class="toc-item"><li><span><a href="#Fix-datatypes" data-toc-modified-id="Fix-datatypes-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Fix datatypes</a></span><ul class="toc-item"><li><span><a href="#date" data-toc-modified-id="date-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>date</a></span></li><li><span><a href="#bedrooms/bathrooms" data-toc-modified-id="bedrooms/bathrooms-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>bedrooms/bathrooms</a></span></li><li><span><a href="#sqft_living" data-toc-modified-id="sqft_living-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>sqft_living</a></span></li><li><span><a href="#sqft_lot" data-toc-modified-id="sqft_lot-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span>sqft_lot</a></span></li><li><span><a href="#waterfront" data-toc-modified-id="waterfront-4.1.5"><span class="toc-item-num">4.1.5&nbsp;&nbsp;</span>waterfront</a></span></li><li><span><a href="#sqft_basement" data-toc-modified-id="sqft_basement-4.1.6"><span class="toc-item-num">4.1.6&nbsp;&nbsp;</span>sqft_basement</a></span></li><li><span><a href="#yr_renovated" data-toc-modified-id="yr_renovated-4.1.7"><span class="toc-item-num">4.1.7&nbsp;&nbsp;</span>yr_renovated</a></span></li></ul></li></ul></li></ul></div>

![SSS logo](images/facebook_cover_photo_2.png)

# Business Case

Sam Samson and Sons is a real estate developer looking to adopt a data driven approach to choosing which properties to acquire, remodel, and bring back to market.  In particular they want a model to answer the following questions:

1. Which upgrades will yield the highest return?
    * Examples:
        * what is the value of adding a bathroom?
        * what is the value of moving up one or more categories in the quality ranking?
1. Are certain upgrades more valuable in certain areas?  If so how to determine best value remodeling.

# Strategy

To organize the process for answering SS&S's question this report will use the OSEMN workflow.
OSEMN stands for Obtain, Scrub, Explore, Model, Interpret.

# Obtain [data]
The data for this analysis was given to us by the client.  The dataset contains approximately one year of sales data from 05/02/2014, 05/27/2015.

## Column Names and descriptions for Kings County Data Set

**Updated from [https://www.kaggle.com/harlfoxem/housesalesprediction/discussion/207885]**
* **id** - unique identified for a house
* **dateDate** - house was sold
* **pricePrice** -  is prediction target
* **bedroomsNumber** -  of Bedrooms/House
* **bathroomsNumber** -  of bathrooms/bedrooms
* **sqft_livingsquare** -  footage of the home
* **sqft_lotsquare** -  footage of the lot
* **floorsTotal** -  floors (levels) in house
* **waterfront** - House which has a view to a waterfront
* **view** - An index from 0 to 4 of how good the view of the property was
* **condition** - How good the condition is ( Overall )
* **grade** - overall grade given to the housing unit, based on King County grading system
* **sqft_above** - square footage of house apart from basement
* **sqft_basement** - square footage of the basement
* **yr_built** - Built Year
* **yr_renovated** - Year when house was renovated
* **zipcode** - zip
* **lat** - Latitude coordinate
* **long** - Longitude coordinate
* **sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors
* **sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

# Scrub

This section contains all of the basic data cleaning for the data set including:
* Fixing and understanding datatypes including Categorical vs Continuous
* Identifying and dealing with missing data

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.options.display.max_columns = 100

In [45]:
df = pd.read_csv('data/kc_house_data.csv')
df.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  float64
 9   view           21534 non-null  float64
 10  condition      21597 non-null  int64
 11  grade          21597 non-null  int64
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

In [47]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.159700e+04,2.159700e+04,21597.000000,21597.000000,21597.000000,2.159700e+04,21597.000000,19221.000000,21534.000000,21597.000000,21597.000000,21597.000000,21597.000000,17755.000000,21597.000000,21597.000000,21597.000000,21597.000000,21597.000000
mean,4.580474e+09,5.402966e+05,3.373200,2.115826,2080.321850,1.509941e+04,1.494096,0.007596,0.233863,3.409825,7.657915,1788.596842,1970.999676,83.636778,98077.951845,47.560093,-122.213982,1986.620318,12758.283512
std,2.876736e+09,3.673681e+05,0.926299,0.768984,918.106125,4.141264e+04,0.539683,0.086825,0.765686,0.650546,1.173200,827.759761,29.375234,399.946414,53.513072,0.138552,0.140724,685.230472,27274.441950
min,1.000102e+06,7.800000e+04,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,3.000000,370.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.220000e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,1951.000000,0.000000,98033.000000,47.471100,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,1975.000000,0.000000,98065.000000,47.571800,-122.231000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068500e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Fix datatypes

### date

In [48]:
# convert date to datetime so it is useful
df['date'] = pd.to_datetime(df['date'])

In [56]:
# Check the daterange
df['date'].min(), df['date'].max()

(Timestamp('2014-05-02 00:00:00'), Timestamp('2015-05-27 00:00:00'))

### bedrooms/bathrooms

In [49]:
# Should Bathrooms be float?
df['bathrooms'].value_counts(ascending = False).head()

2.50    5377
1.00    3851
1.75    3048
2.25    2047
2.00    1930
Name: bathrooms, dtype: int64

Because bathrooms can have $\frac{1}{2}$, $\frac{3}{4}$ sizes the float type is correct for this column. 

It is unclear whether the model should treat number of bedrooms and bathrooms as categorical or continuous.  My suspicion is that there will be more value in treating them as categorical, but for now we will leave them as continuous and later see if the change results in an improvement to the model.

### sqft_living

### sqft_lot

### waterfront

In [68]:
df['waterfront'].describe()

count     21597
unique        2
top           0
freq      21451
Name: waterfront, dtype: int64

In [64]:
# waterfront is already categorical. But has missing values.
df['waterfront'].value_counts(normalize=True)

0.0    0.992404
1.0    0.007596
Name: waterfront, dtype: float64

In [67]:
# 99.2% of the properties are not waterfront.  We will fill the missing values with 0.
df['waterfront'] = df['waterfront'].fillna(0)

# change to int first to get rid of decimal then cast as category
df['waterfront'] = df['waterfront'].astype('int').astype('category')
df['waterfront'].head(2)

0    0
1    0
Name: waterfront, dtype: category
Categories (2, int64): [0, 1]

### sqft_basement

In [50]:
# Why is sqft_basement an object?
df['sqft_basement'].value_counts(ascending= False, normalize=True)

0.0       0.593879
?         0.021021
600.0     0.010048
500.0     0.009677
700.0     0.009631
            ...
1008.0    0.000046
2300.0    0.000046
2400.0    0.000046
1248.0    0.000046
792.0     0.000046
Name: sqft_basement, Length: 304, dtype: float64

In [51]:
# '?' must mean unknown.  Since 0 accounts for 60% of the records the median
# should be 0.  Check to make sure.
df[df['sqft_basement'] != '?']['sqft_basement'].astype('float').median()

0.0

In [52]:
# The median is 0 and 60% of the values are 0 so we will fill the ? values
# with 0
df['sqft_basement'] = df['sqft_basement'].map(lambda x: 0 if x == '?' else x)

# cast as int
# the string '0.0' cannot be directly cast as int
df['sqft_basement'] = df['sqft_basement'].astype('float').astype('int')

### yr_renovated

In [81]:
df['yr_renovated'].isna().sum() / len(df)

0.17789507802009538

In [82]:
len(df[df['yr_renovated'] == 0]) / len(df)

0.787655692920313

In [84]:
# Since 79% of the data is 0 we will fill the missing values with 0 (median.)
df['yr_renovated'] = df['yr_renovated'].fillna(0)

In [85]:
df['yr_renovated'].value_counts(ascending=False, normalize=True)

0.0       0.965551
2014.0    0.003380
2003.0    0.001435
2013.0    0.001435
2007.0    0.001389
            ...
1946.0    0.000046
1959.0    0.000046
1971.0    0.000046
1951.0    0.000046
1954.0    0.000046
Name: yr_renovated, Length: 70, dtype: float64

The year with the most renovations is 2014 which only accounts for 0.3% of the data.  In order for this column to be useful we will have to bin it.  Look for max min values and choose a inflection point for the variable.

In [86]:
df[df['yr_renovated'] > 0].yr_renovated.describe()

count     744.000000
mean     1995.928763
std        15.599946
min      1934.000000
25%      1987.000000
50%      2000.000000
75%      2007.250000
max      2015.000000
Name: yr_renovated, dtype: float64

- Create a category for no remodel.
- Create a category for remodeled after 2000
- Create a category for remodeled in 2000 or before

If this turns out to be useful we can see if adjusting the inflection point makes a difference.

In [88]:
df['renovation_cat'] = pd.cut(df['yr_renovated'], 
                          [-1,0,2000,2015], 
                          labels=['none', 'before_2000', '2000_and_after' ])

In [14]:
# Does floors include basement?
df[(df['sqft_basement'] > 0) & (df['floors'] == 1)][['sqft_basement', 'floors']]

TypeError: '>' not supported between instances of 'str' and 'int'

In [59]:
import folium

In [ ]:
d

In [58]:
# from ipyleaflet import Map
# Map()